@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,700&display=swap");

.light {
  --text: #0a1410;
  --background: #f5faf8;
  --primary: #59ab86;
  --secondary: #a7b2d3;
  --accent: #9085c1;
}

.dark {
  --text: #ebf5f1;
  --background: #050a08;
  --primary: #54a681;
  --secondary: #2c3758;
  --accent: #493e7a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans";
  scroll-behavior: smooth;
}

/* Header  start*/

header {
  height: 6vh;
  background-color: var(--primary);
}

header img {
  -webkit-user-drag: none;
}

#header-content-wrapper {
  width: 50vw;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#header-content-left-wrapper,
#header-content-right-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#header-content-wrapper > * {
  color: var(--text);
}

#name-holder {
  display: flex;
  align-items: center;
}

#name-holder > img {
  height: 30px;
}

#name-holder > span {
  font-size: 1.5rem;
  font-weight: bold;
  text-indent: 0.3rem;
}

#location-holder {
  display: flex;
  align-items: center;
  position: relative;
  top: 2px;
  gap: 0.3rem;
}

#location-holder-temperature {
  font-weight: bold;
  position: relative;
  bottom: 2px;
}

#header-content-right-wrapper img {
  position: relative;
  aspect-ratio: 1 / 1;
}

#search-location {
  height: 2.2rem;
  width: 13rem;
  text-indent: 0.3rem;
  border: none;
  border-radius: 0.25rem;
  background-color: white;
}

#search-location:focus-visible {
  outline-color: var(--accent);
}

#temperature-unit-toggle,
#theme-toggle {
  height: 50px;
  aspect-ratio: 1 / 1;
}

#temperature-unit-toggle img {
  height: 30px;
  top: 0.6rem;
  left: 0.45rem;
}

#theme-toggle img {
  height: 40px;
  top: 0.25rem;
  left: 0.32rem;
}

#temperature-unit-toggle:hover,
#theme-toggle:hover {
  border-radius: 50%;
  background-color: rgba(113, 116, 119, 0.08);
}

#temperature-unit-toggle:active,
#theme-toggle:active {
  background-color: rgba(113, 116, 119, 0.12);
}

/* Header  end*/

/* Navbar start */

#navbar-content-wrapper {
  height: 4vh;
  width: 50vw;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  line-height: 3.5vh;
  cursor: default;
  color: gray;
}

#navbar-content-wrapper > * {
  border-bottom: 1px solid gray;
  padding: 0 1rem;
}

#navbar-content-wrapper .active-tab {
  border-bottom: 1px solid red;
  color: black;
}

/* Navbar end */

/* Main Content - Current forecast start */

main {
  margin-top: 2vh;
}

#main-content-wrapper {
  width: 50vw;
  margin: 0 auto;
}

#main-content-wrapper > * {
  width: 65%;
}

#current-forecast {
  background-color: var(--primary);
  border-radius: 6px 6px 4px 4px;
}

#current-forecast-upper,
#hourly-forecast-upper {
  padding: 1rem 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

#current-time-text {
  font-weight: bold;
}

#current-forecast-lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
}

#current-forecast-lower-left {
  display: flex;
  align-items: center;
}

#current-forecast-lower-left-left > img {
  height: 100px;
  aspect-ratio: 1 / 1;
}

#current-forecast-temperature-text {
  font-size: 4rem;
  letter-spacing: -10px;
}

#current-forecast-temperature-unit {
  font-size: 2rem;
}

#current-forecast-lower-right {
  width: 50%;
}

#current-forecast-lower-right > *:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

#wind-speed-n-direction,
#wind-gust,
#air-quality {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
}

#wind-speed-n-direction > p:nth-child(2),
#wind-gust > p:nth-child(2),
#air-quality p:nth-child(2) {
  font-weight: bold;
}

/* Main Content - Current forecast end */

/* Main Content - Today's Hourly forecast start */

#hourly-forecast {
  background-color: var(--primary);
  margin-top: 1.5rem;
  border-radius: 8px 8px 6px 6px;
}

#hourly-forecast-lower {
  height: 11.25rem;
  display: flex;
}

#hourly-forecast-lower > .hourly-forecast-button {
  width: 4rem;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  user-select: none;
}

.hourly-forecast-button {
  height: 100%;
  background: rgb(52, 62, 73);
}

#hourly-forecast-card-wrapper {
  height: 100%;
  width: 32rem;
  display: flex;
  overflow: hidden;
}

.hourly-forecast-card {
  min-width: 3.89rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hourly-forecast-card > *:not(img) {
  width: 100%;
}

.hourly-forecast-card > img {
  height: 40px;
  aspect-ratio: 1 / 1;
}

.time-text,
.temperature-text {
  font-weight: bold;
}

.time-text,
.temperature-text {
  text-align: center;
  letter-spacing: -2px;
}

.temperature-text {
  font-size: 2rem;
}

.precipitation-chance {
  display: flex;
  align-items: center;
}

.precipitation-chance > img {
  height: 25px;
}
/* Main Content - Today's Hourly forecast end */

/* Main Content - Hourly forecast start */

.hourly-forecast-div {
  background-color: var(--primary);
  padding: 1rem 0.5rem 0 0.5rem;
  margin-bottom: 1rem;
}
.hourly-forecast-div > * {
  width: 100%;
}

.hourly-forecast-upper {
  height: 3.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hourly-forecast-upper-left {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.hourly-forecast-upper-left > img {
  height: 80px;
  aspect-ratio: 1 / 1;
}

.hourly-forecast-upper-left-date {
  margin-right: 1rem;
}

.hourly-forecast-date,
.hourly-forecast-time {
  font-size: 0.8rem;
}

.hourly-forecast-time {
  font-weight: bold;
}

.hourly-forecast-temp {
  font-size: 2.8rem;
}

.hourly-forecast-upper-middle {
  display: flex;
  gap: 0.5rem;
}

.hourly-forecast-upper-right {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.hourly-forecast-upper-right > img {
  height: 25px;
  aspect-ratio: 1 / 1;
}

.hourly-more-option {
  margin: 0 0.5rem;
  font-size: 1.5rem;
  transform: rotate(90deg);
  user-select: none;
}

.hourly-more-option.more-option-active {
  transform: rotate(-90deg);
  transition: transform 0.5s;
}

.hourly-more-option:not(.more-option-active) {
  transform: rotate(90deg);
  transition: transform 0.5s;
}

.hourly-forecast-middle {
  margin: 1rem 0;
}

.hourly-forecast-lower,
.hourly-forecast-lower-more {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.4rem 0.4rem;
}

.hourly-forecast-lower > *,
.hourly-forecast-lower-more > * {
  width: 48.5%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hourly-forecast-lower > :nth-child(1),
.hourly-forecast-lower > :nth-child(2),
.hourly-forecast-lower-more > :nth-child(1),
.hourly-forecast-lower-more > :nth-child(2) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.hourly-forecast-lower-more > :nth-child(1),
.hourly-forecast-lower-more > :nth-child(2) {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.hourly-forecast-lower > * > :nth-child(2),
.hourly-forecast-lower-more > * > :nth-child(2) {
  font-weight: bold;
}

.hourly-forecast-lower-more-hidden {
  height: 0;
  display: none;
}
/* Main Content - Hourly forecast end */

/* Main Content - Daily forecast start */

.daily-forecast-card {
  background-color: var(--primary);
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.daily-forecast-card-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.daily-forecast-card-upper-left {
  display: flex;
  align-items: center;
}

.daily-forecast-card-date {
  margin-right: 2rem;
  font-size: 0.8rem;
}

.daily-forecast-week-day {
  font-weight: bold;
}

.daily-forecast-card-upper-left > img {
  height: 5rem;
  aspect-ratio: 1 / 1;
}

.daily-forecast-card-temps {
  display: flex;
  align-items: center;
}

.daily-forecast-max-temp {
  font-size: 3.15rem;
}

.daily-forecast-min-temp {
  font-size: 1.5rem;
  position: relative;
  top: 0.4rem;
  color: gray;
}

.daily-forecast-card-upper-right {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.daily-forecast-card-upper-right > img {
  height: 25px;
  aspect-ratio: 1 / 1;
}

.daily-forecast-card-middle {
  margin: 1rem 0;
}

.daily-forecast-card-lower {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.daily-forecast-card-lower > * {
  width: 45%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.daily-forecast-card-lower > :nth-child(1),
.daily-forecast-card-lower > :nth-child(2) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.daily-forecast-card-lower > * > :nth-child(2) {
  font-weight: bold;
}

/* Main Content - Daily forecast end */

/* Main Content - Air quality start */

.current-air-quality {
  background-color: var(--primary);
}

.current-air-quality-upper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0.5rem;
}

.current-air-quality-lower {
  padding: 0.5rem;
}

.current-day {
  font-size: 1.1rem;
  font-weight: bold;
}

.current-date {
  font-size: 0.9rem;
}

.current-air-quality-lower-top {
  margin-bottom: 1rem;
}

.current-air-quality-lower-bottom {
  display: flex;
  justify-content: space-between;
}

.current-air-quality-lower-bottom-left {
  min-width: 200px;
  aspect-ratio: 1 / 1;
  margin-right: 1.25rem;
  position: relative;
}

.pollutant-score-display {
  width: 200px;
  height: 200px;
  border: 1px solid transparent;
  position: relative;
  border-radius: 50%;
  background-color: purple;
}

.pollutant-score-display::before {
  content: '';
  width: 150px;
  height: 150px;
  display: block;
  position: absolute;
  top: 23.5px;
  left: 23.5px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: var(--primary);
}

.pollutant-score {
  font-size: 1.5rem;
  color: white;
  position: absolute;
  top: 75px;
  left: 78px;
}

.pollutant-caption {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, .5);
  position: absolute;
  top: 100px;
  left: 90px;
}

.current-air-quality-lower-right {
  padding-left: 0.5rem;
}

.air-quality-excellent {
  background-color: rgb(29, 207, 255);
}

.air-quality-fair {
  background-color: rgb(67, 211, 87);
}

.air-quality-poor {
  background-color: rgb(253, 184, 13);
}

.air-quality-unhealthy {
  background-color: rgb(233, 54, 90);
}

.air-quality-very-unhealthy {
  background-color: rgb(168, 41, 212);
}

.air-quality-dangerous {
  background-color: rgb(106, 10, 255);
}

.current-air-quality-mark {
  height: 0.2rem;
  width: 2rem;
  margin: 0.8rem 0;
}

.current-air-quality-text {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.current-air-quality-description {
  font-size: 0.8rem;
  line-height: 0.9rem;
}

/* Main Content - Air quality end */
/* Main Content - Air quality more start*/

.current-air-quality-more {
  background-color: var(--primary);
  margin-top: 1.5rem;
}

.current-air-quality-more-upper {
  height: 3rem;
  padding: 0 0.5rem;
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid gray;
}

.current-air-quality-more-upper > * {
  height: 100%;
  display: flex;
  align-items: center;
  user-select: none;
}

.current-air-quality-more-upper > *:not(:last-child) {
  cursor: grab;
}

.current-pollutants, 
.air-quality-scale {
  color: gray;
}

.current-active-tab {
  color: black;
  border-bottom: 1px solid white;
}

.current-air-quality-caption {
  width: 53%;
  justify-content: flex-end;
}

.pollutant-card {
  padding: 0.5rem 1rem;
  display: flex;
  border-bottom: 1px solid gray;
}

.pollutant-card-left {
  min-width: 20%;
  margin-right: 0.5rem;
}

.pollutant-para1 > sub {
  font-size: 0.6rem
}

.pollutant-mark {
  height: 0.2rem;
  width: 2rem;
  margin: 0.5rem 0 0.2rem;
}

.pollutant-para2 {
  font-weight: bold;
}

.pollutant-card-middle {
  font-size: 0.875rem;
}

.pollutant-card-right {
  min-width: 20%;
  text-align: right;
}

.pollutant-score2 {
  font-size: 0.8rem;
}

.scale-card {
  border-bottom: 1px solid gray;
  padding: 0.5rem;
}

.scale-card-upper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.scale-card-upper-right {
  min-width: 20%;
  text-align: right;
}

.scale-card-lower {
  font-size: 0.8rem;
}
/* Main Content - Air quality more end*/
