@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,700&display=swap");

.light {
  --text: #0a1410;
  --background: #f5faf8;
  --primary: #59ab86;
  --secondary: #a7b2d3;
  --accent: #9085c1;
}

.dark {
  --text: #ebf5f1;
  --background: #050a08;
  --primary: #54a681;
  --secondary: #2c3758;
  --accent: #493e7a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans";
  scroll-behavior: smooth;
}

/* Header  start*/

header {
  height: 6vh;
  background-color: var(--primary);
}

header img {
  -webkit-user-drag: none;
}

#header-content-wrapper {
  width: 50vw;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#header-content-left-wrapper,
#header-content-right-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#header-content-wrapper > * {
  color: var(--text);
}

#name-holder {
  display: flex;
  align-items: center;
}

#name-holder > img {
  height: 30px;
}

#name-holder > span {
  font-size: 1.5rem;
  font-weight: bold;
  text-indent: 0.3rem;
}

#location-holder {
  display: flex;
  align-items: center;
  position: relative;
  top: 2px;
  gap: 0.3rem;
}

#location-holder-temperature {
  font-weight: bold;
  position: relative;
  bottom: 2px;
}

#header-content-right-wrapper img {
  position: relative;
  aspect-ratio: 1 / 1;
}

#search-location {
  height: 2.2rem;
  width: 13rem;
  text-indent: 0.3rem;
  border: none;
  border-radius: 0.25rem;
  background-color: white;
}

#search-location:focus-visible {
  outline-color: var(--accent);
}

#temperature-unit-toggle,
#theme-toggle {
  height: 50px;
  aspect-ratio: 1 / 1;
}

#temperature-unit-toggle img {
  height: 30px;
  top: 0.6rem;
  left: 0.45rem;
}

#theme-toggle img {
  height: 40px;
  top: 0.25rem;
  left: 0.32rem;
}

#temperature-unit-toggle:hover,
#theme-toggle:hover {
  border-radius: 50%;
  background-color: rgba(113, 116, 119, 0.08);
}

#temperature-unit-toggle:active,
#theme-toggle:active {
  background-color: rgba(113, 116, 119, 0.12);
}

/* Header  end*/

/* Navbar start */

#navbar-content-wrapper {
  height: 4vh;
  width: 50vw;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  line-height: 3.5vh;
  cursor: default;
  color: gray;
}

#navbar-content-wrapper > * {
  border-bottom: 1px solid gray;
  padding: 0 1rem;
}

#navbar-content-wrapper .active-tab {
  border-bottom: 1px solid red;
  color: black;
}

/* Navbar end */

/* Main Content - Current forecast start */

main {
  margin-top: 2vh;
}

#main-content-wrapper {
  width: 50vw;
  margin: 0 auto;
}

#main-content-wrapper > * {
  width: 65%;
}

#current-forecast {
  background-color: var(--primary);
  border-radius: 6px 6px 4px 4px;
}

#current-forecast-upper,
#hourly-forecast-upper {
  padding: 1rem 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

#current-time-text {
  font-weight: bold;
}

#current-forecast-lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
}

#current-forecast-lower-left {
  display: flex;
  align-items: center;
}

#current-forecast-lower-left-left > img {
  height: 100px;
  aspect-ratio: 1 / 1;
}

#current-forecast-temperature-text {
  font-size: 4rem;
  letter-spacing: -10px;
}

#current-forecast-temperature-unit {
  font-size: 2rem;
}

#current-forecast-lower-right {
  width: 50%;
}

#current-forecast-lower-right > *:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

#wind-speed-n-direction,
#wind-gust,
#air-quality {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
}

#wind-speed-n-direction > p:nth-child(2),
#wind-gust > p:nth-child(2),
#air-quality p:nth-child(2) {
  font-weight: bold;
}

/* Main Content - Current forecast end */

/* Main Content - Today's Hourly forecast start */

#hourly-forecast {
  background-color: var(--primary);
  margin-top: 1.5rem;
  border-radius: 8px 8px 6px 6px;
}

#hourly-forecast-lower {
  height: 11.25rem;
  display: flex;
}

#hourly-forecast-lower > .hourly-forecast-button {
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  user-select: none;
}

.hourly-forecast-button {
  height: 100%;
  background: lightblue;
}

#hourly-forecast-card-wrapper {
  height: 100%;
  width: 32rem;
  display: flex;
  overflow: hidden;
}

.hourly-forecast-card {
  min-width: 3.89rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hourly-forecast-card > *:not(img) {
  width: 100%;
}

.hourly-forecast-card > img {
  height: 40px;
  aspect-ratio: 1 / 1;
}

.time-text,
.temperature-text {
  font-weight: bold;
}

.time-text,
.temperature-text {
  text-align: center;
  letter-spacing: -2px;
}

.temperature-text {
  font-size: 2rem;
}

.precipitation-chance {
  display: flex;
  align-items: center;
}

.precipitation-chance > img {
  height: 25px;
}
/* Main Content - Today's Hourly forecast end */

/* Main Content - Hourly forecast start*/

.hourly-forecast-div {
  background-color: var(--primary);
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
}
.hourly-forecast-div > * {
  width: 100%;
}

.hourly-forecast-upper {
  height: 3.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hourly-forecast-upper-left {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.hourly-forecast-upper-left > img {
  height: 80px;
  aspect-ratio: 1 / 1;
}

.hourly-forecast-upper-left-date {
  margin-right: 1rem;
}

.hourly-forecast-date,
.hourly-forecast-time {
  font-size: 0.8rem;
}

.hourly-forecast-time {
  font-weight: bold;
}

.hourly-forecast-temp {
  font-size: 2.8rem;
}

.hourly-forecast-upper-right {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.hourly-forecast-upper-middle {
  display: flex;
  gap: 0.5rem;
}

.hourly-forecast-upper-right > img {
  height: 25px;
  aspect-ratio: 1 / 1;
}

.hourly-forecast-middle {
  margin: 1rem 0;
}

.hourly-forecast-lower {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0.2rem;
}

.hourly-forecast-lower > * {
  width: 48.5%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hourly-forecast-lower > :nth-child(1),
.hourly-forecast-lower > :nth-child(2) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.hourly-forecast-lower > * > :nth-child(2) {
  font-weight: bold;
}

/* Main Content - Hourly forecast end*/
